<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp">
  <meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo</title>
  <style>
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
    }

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container canvas {
      /*display: block;*/
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  </style>
</head>
<body>
  <div class="container">
    <canvas id="canvas" width="256" height="240"></canvas>
  </div>

  <script>
    // 哈希由 HtmlWebpackPlugin 的 output.filename 生成
    globalThis.Module = {
      locateFile: (path) => {
        if (path.endsWith('.wasm')) return "<%= htmlWebpackPlugin.manifest['WebNative.wasm'] %>";
        if (path.endsWith('.worker.js')) return "<%= htmlWebpackPlugin.manifest['WebNative.worker.js'] %>";
        return path;
      }
    };
  </script>

  <script src="<%= htmlWebpackPlugin.manifest['WebNative.js'] %>"> </script>

</body>
</html>